
<%- include('header'); %>

<body>
    <header>
        <div class="cabecalho">
                <a href="index.html">HOME</a>
                <a href="sobre.ejs">NOSSAS SALAS</a>
                <a href="reserva.html">RESERVA</a>
        </div>
    </header>

    <main>
        <div class="card_principal">
            <h1>Venha reservar seu ambiente de negócios conosco!</h1>
            <p>A Super Sala Reservas, está há mais de 15 anos no mercado, ajudando pequenas e médias empresas a gerirem seus escritórios sem grandes compromissos.</p>
        </div>
    </main>


</body>
