<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de Salas</title>
    <link rel="stylesheet" type="text/css" href="public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="public/css/estilo.css" />
</head>
<body id="body_sobre">
    <header>

        

        <div class="cabecalho">
                <a href="index.html">HOME</a>
                <a href="sobre.html">NOSSAS SALAS</a>
                <a href="reserva.html">RESERVA</a>
        </div>
    </header>

    <main>

    </main>


</body>
</html>